* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  margin: 0;
}

.header {
  border-bottom: 1px solid #000000;
  font-size: 52px;
  font-weight: 800;
  margin: 0;
}

#logo {
  display: block;
  width: 104px;
  margin-bottom: 24px;
}

.nav {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.nav-menu {
  color: #000000;
  margin-right: 16px;
  text-decoration: none;
}
